html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #1A1B23;
}

.btn.coral-btn{
   color: #FB7185;
  border: 2px solid #FB7185;
  background: transparent;
  transition: background-color 0.2s ease, color 0.2s ease;
    letter-spacing: 0.6px;
}
.btn.coral-btn:hover{
  background-color: #FB7185;
  color: #0F0F14;
}
.center-card{
   background-color: #2B2E36;
   box-shadow:
  0 10px 30px rgba(0, 0, 0, 0.45),
  0 0 0 1px rgba(255, 255, 255, 0.04),
    0 0 40px rgba(251, 113, 133, 0.08);;

}
.side-card{
   background-color: #23252D;
   box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
    font-weight: 600;      
  letter-spacing: 0.4px;
  opacity: 0.9;
}
h3.card-title{
  color: #FB7185;
   font-weight: 600;     
  letter-spacing: 0.4px;
  opacity: 0.9;
}
.card.task-item{
  background-color: #26282d;
  border-radius: 12px;
  padding: 14px 16px;
  margin-bottom: 12px;
  color: #E5E7EB;
    box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.04),
    0 2px 6px rgba(0, 0, 0, 0.35);
  transition:transform 0.15s ease,
  box-shadow 0.15s ease,
  background-color 0.15s ease;
}
.task-item:hover {
  transform: translateY(-2px);
  background-color: #343843;
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.06),
    0 6px 14px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.card.next-task-bar{
   background-color: #23252D;
  border-radius: 14px;
  padding: 14px 18px;
}
.card.next-task-bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  bottom: 12px;
  width: 4px;
  border-radius: 4px;
  background-color: #FB7185;
}
.card.current-task-bar{
  background-color: #23252D;
  border-radius: 14px;      
  padding: 10px 18px;        
  color: #D1FAE5; 
}
.card.current-task-bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  bottom: 12px;
  width: 4px;
  border-radius: 4px;
  background-color: #FB7185;
}
@media (max-width: 768px) {
  .side-card,
  .next-task-bar,
  .current-task-bar {
    display: none;
  }
}
